/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-title-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* utilities */

.container {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

main {
  align-items: center;
  justify-content: center;

}

/* sections */

section {
  max-width: 1600px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

body {
  margin: auto;
  max-width: 1600px;

  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}

body a {
  text-decoration: none;
}

/* header */

header {
  padding-top: 24px;
  padding-bottom: 25px;
  top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;


  background-color: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
}

header .main {
  display: flex;
}

nav {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  margin-right: 93px;

  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
}

nav .logotext {
  color: black;

  font-family: 'Oleo+Script', sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

/* Site nav */

header .element:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.container .info {
  margin-left: auto;
}

.contacts {
  display: block;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/Img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;

  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero-title {
  margin-top: 0;

  color: var(--secondary-title-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

/* button */

.button {
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
}

.hero .button.primary {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.hero.button:hover {
  background-color: #188ce8;
}

/* specificity */

.specificity {
  padding-top: 94px;
  padding-bottom: 0px;
}

.specificity .element {
  width: 270px;
}

.specificity .element:not(:last-child) {
  margin-right: 30px;
}

.specificity .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.specificity p {
  margin-top: 0;
  margin-bottom: 0;
}

.image {
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;

  background-color: #F5F4FA;
  border-radius: 4px;
}

/*about us*/

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about h2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.about .element:not(:last-child) {
  margin-right: 30px;
}

.box {
  width: 370px;
  height: 294px;
}

/* team */

.section.team {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;
  background-color: var(--secondary-bg-color);
}

.section.team .item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employer {
  width: 270px;
  height: 260px;
}

.name {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.section.team .section-title {
  margin-bottom: 50px;
}

.section.team .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profession {
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

/* employers*/

.employers {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;
  align-items: center;
}

.employers h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}

.employers .item {
  display: flex;
  width: 170px;
  height: 90px;

  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.employers .item:not(:last-child) {
  margin-right: 30px;
}

.socnetwork {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socnetwork.list .item:not(:last-child) {
  margin-right: 10px;
}


footer .container {
  display: flex;
  align-items: baseline;
}

.down {
  padding-top: 60px;
  padding-bottom: 60px;
 
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

footer {
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 1600px;

  background-color: #2f303a;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

footer .logotext {
  color: #ffffff;

  font-family: 'Oleo+Script', sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

.location {
  margin-top: 0px;
  margin-bottom: 9px;
  color: #ffffff;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

address {
  margin-top: 20px;
}

address .list {
  display: inline;
}

address .element:not(:last-child) {
  margin-bottom: 9px;
}

address a {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 0;
}

.join h3 {
  margin-top: 0;

  color: var(--secondary-title-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.join {
  margin-top: 0px;
  margin-right: auto;
  margin-left: 70px;
  justify-content: center;
}

/* portfolio */

.filters {
  padding-top: 94px;
  padding-bottom: 94px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  justify-content: center;
}

.filters .list {
  justify-content: center;
}

.filters .element:not(:last-child) {
  margin-right: 8px;
}

.filters button {
  display: inline-block;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;

  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.filters button:hover,
.filters button:focus {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.projects.list {
  margin-top: 50px;
  flex-wrap: wrap;
}

.projects .title {
  width: 322px;
  margin-left: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
}

.projects p {
  width: 322px;
  margin-left: 24px;
  margin-top: 4px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.87;
}

.projects .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.projects .item:hover,
.projects .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .item:nth-child(3n) {
  margin-right: 0;
}

.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
